<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
<h1>Create Post</h1>

<!-- 게시글 생성 폼 -->
<form method="post" th:action="@{/board/{boardId}/posts/create}">
    <label for="postTitle">제목:</label>
    <input type="text" id="postTitle" name="title">

    <label for="postContent">내용:</label>
    <textarea id="postContent" name="content"></textarea>

    <label for="postPassword">비밀번호:</label>
    <input type="password" id="postPassword" name="password">

    <button type="submit">게시글 생성</button>
</form>
</body>
</html>